[serverinfo]
TEAMSPEAK_IP=51.79.173.208
TEAMSPEAK_PORT=9987
TEAMSPEAK_SID=
TEAMSPEAK_CLIENT_RECV=admin
TEAMSPEAK_PASSWD_RECV=
TEAMSPEAK_CLIENT_SEND=admin
TEAMSPEAK_PASSWD_SEND=

[settings]
GAME_SERVER=Server
